<section class="sec-alt">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h1>PROFESSIONAL</h1>
                <br>
                <p class="p-main">In the late 90s, I was faced with a decision regarding my career: take a chance on something that I was interested in but had little experience, or go the route that I was more familiar with. Looking back over twenty years, I am glad that I took that chance...and that someone took a chance on me. </p>
              </div>
          </div>
          <br>
          <div class="text-center">
            <div class="container">
              <div class="row">
                <div class="thumbnail-item img-list-container skewed-div">
                  <div class="thumbnail-item img-responsive"><img src="/images/exp1.png" alt="Avatar"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-2">
  </div>
</section>

<section class="sec-primary">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h2>SUPPORT</h2>
                <br>
                <p class="p-main">I started my IT career at a company that developed and operated credit union software, diving head first into application support by learning to troubleshoot MUMPS programming code; my experience was eerrily akin to that of Peter Gibbons in the movie Office Space. My skills evolved as I began to support other systems such as VMS operating systems and SQL databases. Branching out in my career, I changed companies, and roles, moving on to providing operational support of financial trade and accounting software while learning server-side operations.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>ANALYSIS</h2>
                <br>
                <p class="p-main">In the mid 2000's I was given the opportunity to gain a different perspective of IT by becoming a business systems analyst. It was in this position that was able to understand IT through the eyes of "the business", by taking business needs and translating them into technical requirements. This was also a personal growth experience as this was the first role where I was solely responsible for managing the business relationship with IT.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>OPERATIONS</h2>
                <br>
                <p class="p-main">The next three career moves were all similar in nature. I switched back to the technical side of IT, but focused more on systems and infrastructure by taking a deeperdive into server and network operations (including virtualization) while also learning something about ERP solutions and MS domain operations. This also began my shift away from financial institutions into manufacturing. I continued down the operational path when I joined BMW. It was at BMW that my experience multiplied by taking on a similar role but in a much larger and more complex environment.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>PROJECTS</h2>
                <br>
                <p class="p-main">Not long after joining BMW I took on my first real project assignment: leading a DNS migration of all line-side production and office based solutions in the Americas. After successfully completing my first assignment I took on an even larger challenge: converting and migrating all group identities to a centrally managed identity management solution while also managing a seperate but related intra-forest domain migration of the Americas regions. My final major project with the operations group was the relocation of one of our primary data-centers which provided information services for all corporate sites in the Americas. This relocation effort covered the build-out, shut-down, movement, and start-up of hundreds of servers, and all networking and storage equipment all while not impacting business operations.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>PRODUCTS</h2>
                <br>
                <p class="p-main">After nearly 15 years working in "operations", I decided to switch over to the "build" side of IT. In 2014 I joined with the Mobile Apps & Services team of BMW. It was there that I was first introduced to product development and Agile concepts. This was an incredibly exciting time for me as I was able to work directly with the business and some of our customers, while leading teams in the design, development, and operations of some really great mobile products.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>STRATEGY</h2>
                <br>
                <p class="p-main">As the team expanded, we needed to establish way to operate in a way that was sustainable while continuing to be a fun and creative team that builds great software. Stepping out of product delivery, I moved up into a more strategic role focusing on group wide topics such as agile coaching, compliance, financial steering, intra-enterprise sales (IeS), process improvement, resource planning, and vendor management. With continued success, we continued to grow and now I lead a team which is responsible for those tasks which allows me to act as an internal solutions consultant for other teams developing technical solutions.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <h2>FUTURE</h2>
                <br>
                <p class="p-main">The greatest lesson that I have learned in my career is that you should have a master plan. As my past 20 years was focused on developing my skills and establishing myself as a multi-functional IT professional; the next 20 years will be dedicated to using my experience and breadth of knowledge to helping others live up to their full potential.</p>
              </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-2">
  </div>
</section>

<section class="sec-alt">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>MILITARY</h1>
                  <br>
                  <p class="p-main">The military has been, and always will be, a core part of who I am. I am grateful for the time that I have served and am thankful to all of thos who have serverd before, with, and after me.</p>
                  <br>
              </div>
              <div class="text-center">
                <div class="container">
                  <div class="row">
                    <div class="thumbnail-item img-list-container skewed-div">
                      <div class="thumbnail-item img-responsive"><img src="/images/af1.png" alt="Avatar"></div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-2">
  </div>
</section>

<section class="sec-primary">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>AVIONICS</h2>
                  <br>
                  <p class="p-main">My first enlistment was with the 913 MXS of the US Air Force Reserves, serving as an Avionics Specialist, working pn the Communications & Navigation systems of C130 aircraft. It was there where I became very interested in technology, as I learned how to work on various avaition elecronics systems, such as radio transmission, cryptographic commuication, and radar systems.</p>
                  <br>
                  <hr class="hr-alt">
                  <br>
                  <h2>SECURITY FORCES</h2>
                  <br>
                  <p class="p-main">Feeling like I had not truly completed my journey, I chose to re-enlist after taking a short break. Wanting a slightly different experience, I also decided to switch career fields and joined the 111th Security Forces Squadron of the Pennsylvania Air National Guard. It was with the Security Forces (SF) that I had learned some of the most valuable life lessons, traveled to interesting locations, and met many inspiring and extraordinary people. Many of the leaderships skills that I use today come from what I learned being a part of the Air Force.</p>
                  <br>
                  <br>
                  <br>
                  <div id="defensor-lg">
                      <h1 class="fancy">Defensor Fortis</h1>
                  </div>
                  <div id="defensor-sm">
                      <h1 class="fancy">Defensor</h1>
                      <br>
                      <h1 class="fancy">Fortis</h1>
                  </div>
                  <br>
                  <div><a href=https://www.airforce.com/careers/featured-careers/security-forces><img src="/images/DefensorFortis.png" alt="Defensor Fortis"></a></div>
              </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-2">
  </div>
</section>
