<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>FROM THE CITY</h1>
                 <br>
                 <p class="p-main"> I was born and raised in Philadelphia and lived there for most of my life. Philly is a great city with a rich history, diverse culture, great food, and some of the best, yet misunderstood, sports fans there are. Shortly after coming back from my last deployment with the Air Force, I chose to travel around U.S.</p>
                 <br>
                 <!-- <hr class="hr-alt">
                 <br>
                 <p class="p-main"> Among my travels was the city of Greenville, located in Upstate South Carolina. Shortly after visiting, I decided to take another chance and relocate, starting a new chapter in my life. It was in Greenville that I met the love of my life in a small jazz bar on Brown Street. A few years later we were married, and then shortly after we started the awesome, challenging, and rewarding journey of becoming parents, raising two bright, beautiful, and full of life little girls. Our dog Callie is not so bad either ;) </p>
                 <br> -->
                 <br>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-alt">
  <div class="container">
      <div class="row">
       <div class="img-row">
       <div class="flex-list">
         <div class="thumbnail-list">
             <div class="col-md-4 thumbnail-item img-list-container outer">
                <img class="thumbnail-image img-responsive star" src="/images/a1.jpg">
             </div>
             <div class="col-md-4 thumbnail-item img-list-container skewed-div">
                <img class="thumbnail-image img-responsive star" src="/images/a2.jpg">
             </div>
             <!-- <div class="col-md-4 thumbnail-item img-list-container skewed-div">
                <img class="thumbnail-image img-responsive star" src="/images/a3.jpg">
             </div> -->
             <div class="col-md-4 thumbnail-item img-list-container skewed-div">
                <img class="thumbnail-image img-responsive star" src="/images/a4.jpg">
             </div>
         </div>
       </div>
       </div>
      </div>
  </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>GROWING UP</h1>
                  <br>
                  <p class="p-main"> I grew up with two crazy brothers in a Scotch-Irish and Italian American family. Our extended family was large, and family gatherings were always entertaining. As a part of growing up, heritage was always important as was loyalty to family and friends. I am grateful for all of the friends that I have made over the years and I am proud to be a part of the McGreggor clan.</p>
                  <br>
                  <br>
                  <div><img src="/images/mcgreggor.png"></div>
                  <br>
            </div>
          </div>
      </div>
</section>

<section class="divider">
     <div class="para-divider para-div-4">
     </div>
</section>

<section class="sec-alt">
      <div>
          <div class="flex-gallery" id="scroll-gallery">
            <div class="gallery-div thumbnail-item star"><img src="/images/h1.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h2.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h3.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h4.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h5.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h6.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h7.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h8.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h9.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h10.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h11.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h12.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h13.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h14.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/h15.jpg" alt="Avatar"></div>
          </div>
       </div>
       <div><img class="flex-gallery-mobile" src="/images/h2.jpg" alt="Avatar"></div>
</section>

<section class="divider">
     <div class="para-divider para-div-4">
     </div>
</section>

<section class="sec-alt">
      <div>
          <div class="flex-gallery" id="scroll-gallery">
            <div class="gallery-div thumbnail-item star"><img src="/images/w1.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/w2.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/w3.jpg" alt="Avatar"></div>
          </div>
       </div>
       <div><img class="flex-gallery-mobile" src="/images/w2.jpg" alt="Avatar"></div>
</section>

<section class="divider">
     <div class="para-divider para-div-4">
     </div>
</section>
