
<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>WELCOME</h1>
                 <br>
                 <div class="profile">
                   <div class="profile-container">
                      <div class="profile-pic"><img src="/images/avatar.png" alt="Avatar"></div>
                   </div>
                 </div>
                 <p class="p-alt">Hi! My name is James; welcome to my website. Here you can learn a little bit about me, my professional experience, and other things that I am interested in.</p>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider" data-para-divider-main="divider-main">
  </div>
</section>

<section class="sec-alt">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h1>ABOUT</h1>
                <br>
                <p class="p-main">Beginning with my first introduction to Basic programming back in elementary school, technology has always interesting me. For over 20 years I have been able to work with various forms of technology, allowing me to continue to grow and develop my skills. While I have worked with many different technologies, Information TEchnology is where I work best. In particular I really enjoy working with Linux based systems, JavaScript & Node.js, SQL databases, Identify Management, and LDAP, as well as general electrical wiring. In addition, I have extensive experience in teaching, coaching, leading and teams, and transforming organizations, especially within Agile DevOps. This experience also includes contract management, provider selection & steering, talent aquisition, and intra-enterprise sales (IES). Other professional areas that I have a strong interest in are psychology, information security, and UI/UX Design.</p>
                <br>
                <hr class="hr-alt">
                <br>
                <p class="p-main">Although I love technology, I also appreciate being disconnected and strongly advocate for maintaining balance, not just in technology and culture but in every aspect of life. I love being outdoors, whether that is primitive camping in the mountains or relaxing at the beach. I also enjoy playing guitar, reading, visiting craft breweries, or planting trees with my two girls. I am passionate about helping others live to thier greatest potential. My goal is to help people and organizations achieve success by applying both my skills and knowledge to current and future engagements.</p>
            </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider" data-para-divider-main="divider-main">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h1>THANKS</h1>
                <br>
                <p class="p-alt">Thank you for visiting my site. To learn more about me please check out the others sections or visit my blog at:</p>
            </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider" data-para-divider-main="divider-main">
  </div>
</section>
-->
