<section class="sec-primary">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">

           <br>
           <p> This site runs best on the following browsers: <strong> Chrome, Firefox, Safari </strong>. </p>
           <br>
           </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>CREDIT</h1>
                 <br>
                 <p class="p-main"> Custom typeface found on this site is supplied by NEWFLIX.Bro.</p>
                 <p class="p-main"> <strong><a href="https://creativemarket.com/NEWFLIX/2466606-The-Sailor-Typeface">The Sailor Typeface</a></strong></p>
                 <h2> a z e r t y 3</h2>
                 <hr class="hr-alt">
                 <br>
                 <p class="p-main"> Credit is given to the following for use of imagery.</p>
                 <br>
                 <p class="p-main"> <strong>Vadim Sherbakov</strong></p>
                 <p class="p-main"> Mountain Photography <a href="https://creativemarket.com/Vadim.Sherbakov/117182-Go-Explore-Nature-photo-pack">Go Explore Nature Photo Pack</a></p>
                 <br>
                 <p class="p-main"> <strong>Medialoot</strong></p>
                 <p class="p-main"> Vector Images <a href="https://creativemarket.com/Medialoot/522832-Vector-Landscapes-Bundle">Vector Landscapes Bundle</a></p>
                 <br>
                 <p class="p-main"> <strong>Vectortatu</strong></p>
                 <p class="p-main"> Vector Images <a href="https://creativemarket.com/vectortatu/1924032-Misty-blue-mountain-silhouettes-background">Misty Blue Mountain Silhouettes</a></p>
                 <br>
                 <br>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>CHANGE LOG</h1>
                 <br>
                 <p class="p-main"> The following updates have been made with the versions liste below.</p>
                 <br>
                 <hr class="hr-alt">
                 <br>
                 <p> <strong> 1.0.2 </strong> </p>
                 <p> Fixed loading performance issue of header images.</p>
                 <br>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>LOP</h1>
                 <br>
                 <p class="p-main"> The following open points are either known issues or features planned for future implementation.</p>
                 <br>
                 <hr class="hr-alt">
                 <br>
                 <p> <strong> Defects </strong> </p>
                 <p> Icon in navigation button on mobile does not change form back to the hamburger button.</p>
                 <br>
                 <p> View loading performance - home page.</p>
                 <br>
                 <p> <strong> Enhancements </strong> </p>
                 <p> Stylesheet classes need to be cleaned up.</p>
                 <p> Update to use handlebars.</p>
                 <p> Move static content to a CMS.</p>
                 <p> IE/Edge verification.</p>
                 <br>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>
