<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                 <h1>FROM THE CITY</h1>
                 <br>
                 <p class="p-main">Philadelphia born and raised; I lived there for most of my life. Philly is a great city, with a rich history, diverse culture, great food, and some of the best, yet misunderstood, sports fans there are. Shortly after coming back from my last deployment with the Air Force, I chose to travel around U.S. and see what some of the other states had to offer.</p>
                 <br>
                 <hr class="hr-alt">
                 <br>
                 <p class="p-main"> Among my travels was a small city known as Greenville located in the Upstate of South Carolina. It was after visiting that I decided to relocate, starting a new chapter in my life, and it was in Greenville that I met the love of my life in a small jazz bar on Brown Street. A few years later we were married, and then shortly after we started the awesome, challenging, and rewarding journey becoming the parents, raising two bright, beautiful, and full of life little girls. Our dog Callie is not so bad either ;)</p>
                 <br>
                 <br>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-alt">
  <div class="container">
      <div class="row">
       <div class="img-row">
       <div class="flex-list">
         <div class="thumbnail-list">
             <div class="col-md-4 thumbnail-item img-list-container outer">
                <img class="thumbnail-image img-responsive star" src="/images/catvatar.jpg">
             </div>
             <div class="col-md-4 thumbnail-item img-list-container skewed-div">
                <img class="thumbnail-image img-responsive star" src="/images/catvatar.jpg">
             </div>
             <div class="col-md-4 thumbnail-item img-list-container skewed-div">
                <img class="thumbnail-image img-responsive star" src="/images/catvatar.jpg">
             </div>
         </div>
       </div>
       </div>
      </div>
  </div>
</section>

<section class="divider">
  <div class="para-divider para-div-4">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>GROWING UP</h1>
                  <br>
                  <p class="p-main"> I grew up with two crazy brothers in a Scotch-Irish and Italian American family. Our extended family was large and family gatherings were always entertaining. As a part of growing up, heritage was always important as was loyalty to family and friends. I am grateful for all of the friends that I have made in Philly, in Greenville and everywhere in between, and I am proud to be a member of the clan McGreggor.</p>
                  <br>
                  <br>
                  <div><img src="/images/mcgreggor.png"></div>
                  <br>
            </div>
          </div>
      </div>
</section>

<section class="divider">
     <div class="para-divider para-div-4">
     </div>
</section>

<section class="sec-alt">
      <div>
          <div class="flex-gallery" id="scroll-gallery">
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
            <div class="gallery-div thumbnail-item star"><img src="/images/catvatar.jpg" alt="Avatar"></div>
          </div>
       </div>
       <div><img class="flex-gallery-mobile" src="/images/catvatar.jpg" alt="Avatar"></div>
</section>

<section class="divider">
     <div class="para-divider para-div-4">
     </div>
</section>
