<section class="bg-primary" id="topic-about-main">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>MAIN TOPIC</h2>
                  <p></p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <img src="http://lorempixel.com/360/260/sports/">
              </div>
              <div class="col-sm-4">
                  <img src="http://lorempixel.com/360/260/animals/">
              </div>
              <div class="col-sm-4">
                  <img src="http://lorempixel.com/360/260/abstract/">
              </div>
          </div>
      </div>
</section>
<section class="bg-parallax1" id="topic-about-second">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>2ND TOPIC</h2>
                  <p></p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="col-lg-4">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
          </div>
      </div>
</section>
<section class="bg-dark" id="topic-about-third">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>3RD TOPIC</h2>
                  <p></p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
      </div>
</section>
<section class="bg-parallax2" id="topic-about-fourth">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>4TH TOPIC</h2>
                  <p></p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
      </div>
</section>
<section class="bg-dark" id="topic-about-fifth">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>5TH TOPIC</h2>
                  <p></p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
      </div>
</section>
