<section class="sec-primary">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h1>GENERAL</h1>
                <br>
                <p class="p-main">I have always been interested in the various personal assessments that exist. When used as baselines, these assessments can be valuable tools for individuals who are looking to make personal or professional improvements, self-organizing teams that are looking to increase morale or productivity, or managers’ who have a desire to further develop individual team members or maximize the team as a whole.</p>
            </div>
          </div>
</div>
</section>

<!-- TODO: Add hyperlinks for each assessment -->

<section class="divider">
  <div class="para-divider para-div-3">
  </div>
</section>

<section class="sec-alt">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>STRENGTHS</h1>
                  <br>
                  <p class="p-main">Starting out with CliftonStrengths (previously StrengthsFinder), this assessment which is based on Positive Psychology principles, helps people identify areas of personal strengths. With the knowledge of my own strengths I am able to maximize the results of my work by both focusing more on what comes naturally and further developing those talents. Within the assessment there are 34 total strengths which are collected within 4 domains; the top 5 strengths are the most dominant.</p>
                  <br>
                  <br>
                  <p class="profile-type" style="max-width:405px">Input | Achiever | Intellection | Relator | Learner </p>
                  <br>
                  <br>
                  <p class="p-main">Achievers are very results oriented. To achieve my goals, I collect a lot of information that can be used to make or support strategic decisions, I continuously reflect on those decisions, and establish strong relationships with team members and business partners.</p>
                  <br>
                  <br>
                  <p class="profile-type" style="max-width:195px">Developer | Maximizer </p>
                  <br>
                  <br>
                  <p class="p-main">The Maximizer and Developer strengths, found in my top 10, are strengths that I am looking to focus more on over the next several years. These strengths mirror my goal to help others accomplish great things by finding ways to help individuals develop their own strengths while helping teams maximize on those strengths.</p>
                  <br>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-3">
  </div>
</section>


<section class="sec-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h1>BEHAVIOR</h1>
                <br>
                <p class="p-main">While some assessments focus on personality or talents, DiSC asses your behavioral differences. What I find highly valuable with DiSC is that it provides insight into how I present myself to others while knowing why others may respond differently than what I would anticipate.</p>
                <br>
                <br>
                <p class="profile-type" style="max-width:255px">Dominance | Conscientiousess</p>
                <br>
                <br>
                <p class="p-main">As a person with the DC profile, I tend to place emphasis on achieving results that are high in quality and accuracy.</p>
                <br>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-3">
  </div>
</section>

<section class="sec-alt">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>TYPE</h1>
                  <br>
                  <p class="p-main">The Myers-Briggs assessment provides a fascinating report into the psychological preferences that one may have in how they perceive the world and how they may prefer to interact with it. For me, it provided a introspective confirmation of my own preferences and personality type.</p>
                  <br>
                  <br>
                  <p class="profile-type" style="max-width:55px">ENTJ</p>
                  <br>
              </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-3">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <p class="p-alt">While these types of assessments should be completely voluntary, and should never be used to label, select, or limit, respondents in any way, they can be highly valuable tools to maximize your own or your teams protential.</p>
            </div>
          </div>
      </div>
</section>

<section class="divider">
  <div class="para-divider para-div-3">
  </div>
</section>
