<section class="sec-alt">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h1>GENERAL</h1>
                <br>
                <p class="p-main">Over the past years I have had the opportunity to use or work with some great consultants, service providers, and products, in various industries. Please see the list below for those that I recommend.</p>
                <br>
                <br>
            </div>
          </div>
          <div class="text-center">
            <div class="container">
              <div class="row">
                <div class="thumbnail-item img-list-container skewed-div">
                  <div class="thumbnail-item img-responsive"><img src="/images/exp.png" alt="Avatar"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-5">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="text-row">
            <div class="text-column text-center reccomend">
              <h3>CoNSULTING & SERViCES</h3>
              <hr>
              <br>
              <p class="text-flex strong"><a href="http://www.orangebees.com/">Orange Bees</a></p>
              <p class="text-flex">A world class custom software development company, located here in Greenville, South Carolina.</p>
              <br>
              <p class="text-flex strong"><a href="https://stablekernel.com/">stable|kernel</a></p>
              <p class="text-flex">A premier custom software development company based out of Atlanta, Georgia that specializes in mobile & web.</p>
              <br>
              <p class="text-flex strong"><a href="http://www.yieldgroup.xyz/#">Yield</a></p>
              <p class="text-flex">An agency that specializes in creating data-driven growth engines, focusing on analytics, advertising, and automation. </p>
              <br>
              <br>
            </div>
            <div class="text-column text-center reccomend">
              <h3>LiFESTYLE & LEADERSHiP</h3>
              <hr>
              <br>
              <p class="text-flex strong"><a href="https://fuehrung-erfahren.de/en/">Fuehrung Erfahren</a></p>
              <p class="text-flex">Dr. Raitner works with organizations in thier transition towards greater agility. He is the author of the blog Experience Leadership which focuses on leadership, agility, and digitalization.</p>
              <br>
              <p class="text-flex strong"><a href="https://drrenrecommends.com/">Simon Sinek - Start with Why</a></p>
              <p class="text-flex">Simon is a world renownd best selling author, speaker, and the originator of the concept of WHY. With the goal of creating a better world through leadership and culture, Simon and his team shares thier ideas and resources, all starting with WHY.</p>
              <br>
              <p class="text-flex strong"><a href="http://livingoily.net/index.php/sample-page/">Living Oily</a></p>
              <p class="text-flex">April Ficklin is a trusted consultant specializing in chemical free living and essential oils. Visit her site, Living Oily, to learn more about April and essential oils.</p>
              <br>
              <p class="text-flex strong"><a href="https://drrenrecommends.com/">Dr. Ren Recommends</a></p>
              <p class="text-flex">Laurén Laurino is a Naturopath who specializes in holistic lifestyle coaching.</p>
              <br>
              <br>
            </div>
          </div>
          <div class="text-row">
            <div class="text-column text-center reccomend">
              <h3>CAUSES & NoN-PRoFiT</h3>
              <hr>
              <br>
              <p class="text-flex strong"><a href="https://www.togetherwerise.org/">Together We Rise</a></p>
              <p class="text-flex">An organization that works to improve the lives of children in foster care by collaborating with individuals, companies, and the community to bring resources to children in foster care and educate foster care volunteers.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.scheartgallery.org/">South Carolina Heart Gallery</a></p>
              <p class="text-flex">An organization that uses the power of photography to "capture the individuality and dignity of children living in foster care, in order to advocate for their permanency, raise public awareness about their needs, and obtain support to help meet those needs".</p>
              <br>
              <p class="text-flex strong"><a href="https://www.compassion.com/">Compassion</a></p>
              <p class="text-flex">A Christ-centered international organization that focuses on children in need and living in poverty, by providing care, education, ministry, resources as well as individual and community sponsorship.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.facebook.com/fightingforfutures/">Fighting for Futures</a></p>
              <p class="text-flex">A worldwide organization that fights against human trafficking.</p>
              <br>
              <p class="text-flex strong"><a href="https://thebibleproject.com/">The Bible Project</a></p>
              <p class="text-flex">An animation studio that make the bible accessable throughout the wolrd by createing short-form animated videos that are both informative and interesting.</p>
              <br>
              <p class="text-flex strong" id="fgchurch"><a href="https://www.fellowshipgreenville.org/">Fellowship Greenville</a></p>
              <p class="text-flex">A community church that is team led which uses expository teaching to help you understand the Bible and apply it to your life. This is also the church that I attend; if you are in the area please visit. Videos of previous sermons are available <a href="https://fellowshipgreenville.org/sermons"> online </a> as well.  </p>
              <br>
              <p class="text-flex strong"><a href="https://www.facebook.com/unchainwinston/">Unchain Winston</a></p>
              <p class="text-flex">A partnership with the Forsyth Humane Society that works to improve the welfare of dogs by building fences (for free) in the greater WS area for qualified families with dogs chained 24/7.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.hymnsandhops.com/">Hymns & Hops</a></p>
              <p class="text-flex">A grassroots revival of a practice that creates a space for "families and people to celebrate the Gospel through community, song, and drink". </p>
              <br>
              <br>
            </div>
            <div class="text-column text-center reccomend">
              <h3>EDUCATioN & LEARNiNG</h3>
              <hr>
              <br>
              <p class="text-flex strong"><a href="https://www.codecademy.com/">Codecademy</a></p>
              <p class="text-flex">Codecademy is host to a large catalog of self-paced programming courses, both free and paid, that are well structured and easy to follow. If you are interested in coding or looking to explore other programming languages, Codecademy is a great place to start.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.sccodes.org/">SC Codes</a></p>
              <p class="text-flex">As a learning platform and coding community, SC Codes provides education and resources to South Carolinians in the field of Information Technology.</p>
              <br>
              <p class="text-flex strong"><a href="https://online-learning.harvard.edu/course/cs50-introduction-computer-science">CS50 - Harvard</a></p>
              <p class="text-flex">This is a free and very well done course offered from Harvard University that provides an introduction into the world and concepts of Computer Science.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.atlassian.com/git/tutorials">Atlassian Tutorials</a></p>
              <p class="text-flex">Atlassian the company that is responsible for products such as Jira, Confluence, and Bitbucket have a great suite of tutorials regarding source code version control and Git.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.digitalocean.com/community/tutorials">DigitalOcean Tutorials</a></p>
              <p class="text-flex">A library of fantatic, well written, tutorials ranging from containerization to reverse proxy configurations from one of the best cloud based platform providers. </p>
              <br>
              <p class="text-flex strong"><a href="https://www.scrum.org/">Scrum.org</a></p>
              <p class="text-flex">From the originators of Scrum, based on principles of the Agile Manefesto, Scrum.org provides the best information and training regarding Scrum and Agile.</p>
              <br>
              <p class="text-flex strong"><a href="https://www.justinguitar.com/">Justin Guitar</a></p>
              <p class="text-flex">Absolutely the best guitar lessons online that are also free, fun and well structured for beginners and well as advanced guitarists.</p>
              <br>
              <br>
            </div>
          </div>
          <div class="text-row">
            <div class="text-center reccomend">
              <h3>OTHER</h3>
              <hr>
              <br>
              <p class="text-flex strong"><a href="https://www.facebook.com/profile.php?id=100006474811559" class="links-alt">Author Kevin M Smith</a></p>
              <p class="t class="p-alt"">Kevin is an author who specializes in crime novels. He is the author of <a href="https://www.amazon.com/dp/B014X7C0KS/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Human Chess</a>, a fantastic novel that focuses on world of mixed martial arts, the rise to power, and the long con.</p>
              <br>
            </div>
          </div>
          <br>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-5">
  </div>
</section>

<section class="sec-alt">
      <div class="container">
          <div class="text-row">
            <div class="col-lg-12 text-center">
                <h1> THE UPSTATE </h1>
                <br>
                <p class="p-main">The upper northwest region of South Carolina, known as The Upstate, is a great place to visit and live. If you are visiting The Upstate, please check out these local places and events. </p>
                <br>
                <br>
            </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-5">
  </div>
</section>

<section class="sec-primary">
      <div class="container">
          <div class="text-row">
            <div class="text-row">
                <div class="text-column text-center reccomend">
                  <h3>RESTAURANTS</h3>
                  <hr>
                  <br>
                  <p class="text-flex strong"><a href="">Tropical Grill</a></p>
                  <p class="text-flex">More than just a healthy alternative to fast food restaurants, Tropical Grill serves simple but healthy and decicious cuban inspired plates and has a unique variety of sauces; the curry-mustard is a must try!</p>
                  <br>
                  <p class="text-flex strong"><a href="">Della Venturas</a></p>
                  <p class="text-flex">The absolute best Italian restaurant in South Carolina. The plates are large, the food is delicious, and the cannoli are legit.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Brick Street Cafe</a></p>
                  <p class="text-flex">Brick Street serves a variety of southern fare and baked goods in an eclectic building with soujern charm. The sweet potato cake is regionally famous and a must have when visiting.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Sushi Go</a></p>
                  <p class="text-flex">Sushi Go is a quaint restaurant in the heart of Greenville that serves authentic and fresh sushi.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Sidewall Pizza</a></p>
                  <p class="text-flex">Sidewall Pizza Company serves some of the freshest and tastiest pizza in the upstate. The salads are fresh and creative and the home mande ice cream is fantastic.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Greenfields Deli</a></p>
                  <p class="text-flex">Greenfields is an authentic Kosher style that has amazing bagels, and over-stuffed bagel sandwiches, and sides. The staff are incredibly friendly as well.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Vics</a></p>
                  <p class="text-flex">If you are looking for thin, fresh, and tasty, NY style pizza, this tiny pizzaria is the place to go.</p>
                  <br>
                  <p class="text-flex strong"><a href="http://www.inkyscheesesteaks.com/home">Inky's</a></p>
                  <p class="text-flex">Inky's is the only place in the Upstate where you will find authentic and delicious Philadelphia cheese steaks.</p>
                  <br>
                  <p class="text-flex strong"><a href="http://pinkmamasicecream.com/">Pink Mamma's Ice Cream</a></p>
                  <p class="text-flex">Pink Mamma's is a small ice cream shop with many flavors and options; the Pink Motherload is the best.</p>
                  <br>
                  <p class="text-flex strong"><a href="https://www.facebook.com/monkeywrenchsmokehouse/">Monkey Wrench Smokehouse</a></p>
                  <p class="text-flex">For great tasting barbecue, this is the place to visit. </p>
                  <br>
                  <br>
                </div>
                <div class="text-column text-center reccomend">
                  <h3>CRAFT BREWERiES & TAP RooMS</h3>
                  <hr>
                  <br>
                  <p class="text-flex strong"><a href="">13 Stripes</a></p>
                  <p class="text-flex">A personal favorite among the list; this craft brewer, located in the unique Tailors Mill serves up some fantastic offerings. The Pub Ale is perhaps the best all-around beer you can find.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Birds Fly South</a></p>
                  <p class="text-flex">This urban farmhouse style brewer has one of the best environments to relax and focuses on Farmhouse and Saisons styles, especially funky als, sours, and barrel-aged brews. With two unique tasting rooms, a biergarten, and d outdoor patio and lawn, it is one of the best places to relax with friends.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Brewery 85</a></p>
                  <p class="text-flex">Brewery 85 is another great brewer who "specializes in marrying Southern culture with craft beer spirit while using traditional German brewing techniques". The Yeoman's American is one of the best brown ales and the Tropic Thunder is a great DIPA.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Southern Growl</a></p>
                  <p class="text-flex">A craft beer joint with a laid back casual atmosphere, hosting 60 beers on tap and a high quality rotating food menu. The staff are incredibly friendly as well.</p>
                  <br>
                  <p class="text-flex strong"><a href="">Quest</a></p>
                  <p class="text-flex">This award winning brewer has a large variery of adventerous styles on draft and with a solid year round series. The Ponce cucumber jalapeno saison is amazing!</p>
                  <br>
                  <p class="text-flex strong"><a href="">Community Tap</a></p>
                  <p class="text-flex">The community tap is truly that, a community tap room that is welcoming to all, family friendly, and has a great selection of bub on tap.</p>
                  <br>
                  <p class="text-flex strong"><a href="http://www.gratefulbrewgvl.com/">Grateful Brew</a></p>
                  <p class="text-flex">Whether you come for the coffee or craft beer, Grateful Brew is a great place to relax, work, or socialize.</p>
                  <br>
                  <p class="text-flex strong"><a href="http://thomascreekbeer.com/">Thomas Creek</a></p>
                  <p class="text-flex">One of the original and oldest craft brewers in the Upstate, Thomas Creek continues to serve a fine selection of offerings; the Dopplebock is exceptionally good.</p>
                  <br>
                  <br>
                </div>
            </div>
            <div class="text-row">
                <div class="text-column text-center reccomend">
                     <h3>CAFES & CoFFEE SHoPS</h3>
                     <hr>
                     <br>
                     <p class="text-flex strong"><a href="">Methodical</a></p>
                     <p class="text-flex">A coffehous and roaster that serves single origin coffees, pour overs, siphons, and cold brew; quite possibly the best coffee in the States.</p>
                     <br>
                     <p class="text-flex strong"><a href="">Village Grind</a></p>
                     <p class="text-flex">Located in West Greenville, the Village Grind is a quaint location that serves good coffee.</p>
                     <br>
                     <p class="text-flex strong"><a href="">Coffee Underground</a></p>
                     <p class="text-flex">One of the oldest coffee shops in Greenville, Coffee Underground is a greate place to grab coffee, a drink, or light fare while downtown.</p>
                     <br>
                     <p class="text-flex strong"><a href="">Due South</a></p>
                     <p class="text-flex">As roaster of some very good coffee, Due South also has a small storefront serving various coffee offerings and small bites in a hip location. </p>
                     <br>
                     <p class="text-flex strong"><a href="">Barista Alley</a></p>
                     <p class="text-flex">If you are looking for a good cappuccino, latte, or espresso in Greer, Barista Alley is the place to go.</p>
                     <br>
                     <p class="text-flex strong"><a href="">Exchange</a></p>
                     <p class="text-flex">The exchange is a nice little shop in Simpsonville that servers coffee and crepes.</p>
                     <br>
                     <p class="text-flex strong"><a href="">TRee House</a></p>
                     <p class="text-flex">Located in Travelers Rest, the TRee house is unique in that is is both a cafee as well as an art studio that caters to children.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.101espressobar.com/">101 Espresso Bar</a></p>
                     <p class="text-flex">As this may be the absolute smallest coffee shop in the state, it sets this up as a very unique location to visit. The coffee is also very good.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://coyotecoffeecafe.com/">Coyote Coffee</a></p>
                     <p class="text-flex">Located in the Powdersville area, Coyote Coffe, is known for thier coffee combinations and friendly staff.</p>
                     <br>
                     <br>
                </div>
                <div class="text-column text-center reccomend">
                     <h3>PLACES & EVENTS</h3>
                     <hr>
                     <br>
                     <p class="text-flex strong"><a href="https://greenvillerec.com/ghs-swamp-rabbit-trail/">Swamp Rabbit Trail</a></p>
                     <p class="text-flex">A scenic, multi-use (walking and bicycling) trail that traverses over 20miles of an historic railroad corridor along the Reedy River, connecting Travelers Rest to the city of Greenville.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.milb.com/greenville">Greenville Drive</a></p>
                     <p class="text-flex">Based in Greenville, South Carolina, the Greenville Drive are a Minor League Baseball team, affiliated with the Boston Red Sox and a member of the South Atlantic League.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://cafeats.com/">Cafe & Then Some</a></p>
                     <p class="text-flex">Cafe & Then Some is an off the wall comedy dinner theater that has good foond and is always fun.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.greenvillesc.gov/167/Falls-Park">Falls Park</a></p>
                     <p class="text-flex">Located in downtown Greenville's Historic West End, Falls Park on the Reed river, is one of Greenville's best places to visit with it's captivating falls, historic buildings, acres of gardens, walking paths connecting to various parts of the city as well as the Swamp Rabbit Trail.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.travelersrestfarmersmarket.com/">Traveler's rest Farmers Market</a></p>
                     <p class="text-flex">This local farmers market is open on Saturday's normally between 8:30am - 12pm fron May through Sept. The market is a great place for fresh meats & vegetables, local art, live music, and kids crafts & activities.</p>
                     <br>
                     <p class="text-flex strong"><a href="http://swamprabbitcafe.com/">Swamp Rabbit Cafe & Grocery</a></p>
                     <p class="text-flex">A neighborhood cafe & bakery featuring local American eats, desserts, and groceries. Set along the Swamp Rabbit trail, the family friendly cafe is a great place to start, end, or take a break from a walk, or ride along the trail. There is also an outdoor <a href="http://swamprabbitcafe.com/pizza/">pizzaria</a> that extends the lunchtime options.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.bjumg.org/living-gallery/">Living Gallery</a></p>
                     <p class="text-flex">An incredibly unique, "dramatic presentation of sacred masterworks of art depicting Christ's ministry and passion". Choirs, musicians, and costumed actors re-create scenes from Christ's ministry on earth. Not much more can be said about this unique performance other than it is oneof the most breathtaking things that one can see on stage and it is well worth the cost (which is not expensive anyway). Note: do not watch any videos that display the performances as it will take the magic away from seeing it live.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://www.fellowshipgreenville.org/">Fellowship Greenville</a></p>
                     <p class="text-flex">As mentioned <a href="#fgchurch">above</a>, this highly informative, team led church works to help people understand and build a relationsh with Christ by magnifying grace, loving others, and advancing the Gospel (not religion). As a result people and the church are incredibly welcoming; please <a href="https://fellowshipgreenville.org/learn">visit</a>.</p>
                     <br>
                     <p class="text-flex strong"><a href="https://artisphere.org/">Artisphere</a></p>
                     <p class="text-flex">Normally taking place for 3 days in May, "Artisphere is an award winning art festival in Greenville, SC celebrating fine arts, music, food, and fun."</p>
                     <br>
                     <br>
                </div>
            </div>
          </div>
        </div>
</section>

<section class="divider">
  <div class="para-divider para-div-5">
  </div>
</section>
