<!doctype html>
<html lang="en" style="background-color:black">
<!-- TODO: Move styles into css, correct hover over links, refactor padding -->
<footer style="padding-bottom: 60px;">
  <div class="container" style="padding-top: 50px; padding-bottom: 10px;">
  <div class="row">
    <div class="text-center">
      <ul class="footer_bottom_ul">
        <li style="display: inline; padding: 5px;"><a href="/">Home</a></li>
        <li style="display: inline; padding: 5px;"><a href="/experience">Experience</a></li>
        <li style="display: inline; padding: 5px;"><a href="/profile">Profile</a></li>
        <li style="display: inline; padding: 5px;"><a href="/history">History</a></li>
        <li style="display: inline; padding: 5px;"><a href="/recommend">Recommendations</a></li>
        <li style="display: inline; padding: 5px;"><a href="/site">Site</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
      <p class="text-center" style="display: inline; padding: 5px; color: white;">Designed and built by James McGreggor | Greer, South Carolina</p>
  </div>
  <div class="text-center">
    <ul class="footer_ul_social" style="padding-top: 20px; padding-bottom: 5px;">
      <li style="display: inline; padding: 5px;"><a href="https://medium.com/@jamesmcgreggor"><i class="fab fa-medium"></i></a></li>
      <li style="display: inline; padding: 5px;"><a href="https://www.linkedin.com/in/mcgreggor/"><i class="fab fa-linkedin"></i></a></li>
      <li style="display: inline; padding: 5px;"><a href="https://github.com/jmcgreggor"><i class="fab fa-github"></i></a></li>
      <li style="display: inline; padding: 5px;"><a href="https://www.facebook.com/jmcgreggor77"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </div>
  <div class="text-center">
      <p class="text-center" style="display: inline; color: white;">2019 McGreggor.net</p>
  </div>
  </div>
</footer>
