  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-text-lg">
          <p class="name" id="CompanyName"></p>
          <!-- <p class="name"> McGREGGOR </p> -->
        </div>
        <div class="hero-text-sm">
          <span class="name text-accented"> CONSULTING </span>
          <div >
          <!-- <span onload="bend_text()"> -->
          <span>
            <h2 class="hero-text-arc" data-hero-arc="bendy_arc" id="bendyArc"> Strategic. Agile. Leadership. </h2>
           </span>
          </div>
        </div>
      </div>
    </div>
  </div>
