<!doctype html>
<html lang="en" style="background-color: #1e1e1e">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James McGreggor - History</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="styles/styles.less">
  </head>
  <div data-navbar="navbar-div" class="content-navbar">
  </div>
  <header class="header-history media-large-header" data-header-history="header-history" id="header-history">
  </header>
  <body data-body="data-body">
   <div>
      <main data-main-history="main-history">
      </main>
      <footer data-footer="footer-div" class="content-footer">
      </footer>
    </div>
    <script src="less.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="scripts/checkViewport.js"></script>
    <!-- <script src="scripts/checkBrowser.js"></script> -->
    <script src="scripts/app.js"></script>
  </body>
</html>
