<!doctype html>
<html lang="en" style="background-color: #1e1e1e">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James McGreggor</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="styles/styles.less">
  </head>
  <div data-navbar="navbar-div" class="content-navbar">
  </div>
  <header class="header-index header-index-timed media-large-header" data-header-index="header-index" id="header-index">
  </header>
  <body data-body="data-body">
   <div>
      <main data-main-index="main-index">









        <section class="sec-primary">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                         <h1>WELCOME</h1>
                         <!-- <h1 class="h1-index-alt">WELCOME</h1> -->
                         <br>
                         <div class="profile">
                           <div class="profile-container">
                              <div class="profile-pic"><img src="/images/avatar.png" alt="Avatar"></div>
                           </div>
                         </div>
                         <p class="p-alt">Hi! My name is James McGreggor; welcome to my website. Here you can learn a little bit about me, my professional experience, and other things that I am interested in.</p>
                      </div>
                  </div>
              </div>
        </section>

        <section class="divider">
          <div class="para-divider" data-para-divider-main="divider-main">
          </div>
        </section>

        <section class="sec-alt">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                        <h1>ABOUT</h1>
                        <br>
                        <p class="p-main">Beginning with my first introduction to Basic programming in elementary school, technology has always interested me. For nearly 20 years I have been able to work with various forms, allowing me to continue to grow and develop my skills. While I have worked with many different technologies, some of my favorite to work on are: Linux based systems, JavaScript & Node.js, SQL databases, and Active Directory, as well as general electrical wiring. In addition to technology, I have extensive experience in teaching, coaching, and leading teams, especially Agile teams. Other professional areas that I have a strong interest in are Psychology, Information Security and UI/UX Design.</p>
                        <br>
                        <hr class="hr-alt">
                        <br>
                        <p class="p-main">Although I love technology, especially mobile, I also appreciate being disconnected and strongly advocate for maintaining balance, not just in technology and culture but in every aspect of life. I love being outdoors; a yearly camping retreat into the woods is always necessary to find that balance. I also enjoy playing Guitar, cooking, baseball games, reading, visiting new craft breweries, and on rare occasion honing my nunchaku skills. I am passionate about helping others accomplish great things and my goal is to find new ways to combine my technical skill set and leadership experience in order to help people and organizations achieve success.</p>
                    </div>
                  </div>
              </div>
        </section>

        <section class="divider">
          <div class="para-divider" data-para-divider-main="divider-main">
          </div>
        </section>

        <section class="sec-primary">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                        <!-- <h1 class="h1-index-alt">THANKS</h1> -->
                        <h1>THANKS</h1>
                        <br>
                        <p class="p-alt">Thank you for visiting my site. To learn more about me please check out the others sections or visit my blog at:</p>
                    </div>
                  </div>
              </div>
        </section>

        <section class="divider">
          <div class="para-divider" data-para-divider-main="divider-main">
          </div>
        </section>














      </main>
      <footer data-footer="footer-div" class="content-footer">
      </footer>
    </div>
    <script src="less.js" type="text/javascript"></script>

    <script src="circletype.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="scripts/checkViewport.js"></script>
    <!-- <script src="scripts/checkBrowser.js"></script> -->
    <script src="scripts/app.js"></script>
  </body>
</html>
