<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James McGreggor - Strengths</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet/less" type="text/css" href="styles/styles.less">
  </head>
  <div data-navbar="navbar-div" class="content-navbar">
  </div>
  <header class="header-strengths media-large-header" data-header-strengths="header-strengths" id="header-strengths">
  </header>
  <body data-body="data-body">
   <div>
      <main data-main-strengths="main-strengths">
      </main>
      <footer data-footer="footer-div" class="content-footer">
      </footer>
    </div>
    <script src="less.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="scripts/checkViewport.js"></script>
    <!-- <script src="scripts/checkBrowser.js"></script> -->
    <script src="scripts/app.js"></script>
  </body>
</html>
