@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@bg-color-1: #111111;
@text-color-1: #fbf9f5;
@text-color-1-inverse: #111111;
@text-color-1-hover: #790000;

@bg-color-2: #464646;



@bg-color-3: #a1a1a1;
@bg-color-4: #121a1e;
@bg-color-5: #790000;
@bg-color-6: #00aeef;
@bg-color-7: #fbf9f5;

@bk-img1: "https://picsum.photos/g/3200/1240?blur";
@bk-img2: "https://picsum.photos/g/2800/1260?blur";

@primary-font: Didot, 'Times New Roman';

html, body {
    height: 100%;
    background: @bg-color-7;
}

header {
    text-align: center;
    color: @text-color-1;
    background: @bg-color-1;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: fixed;
    width:100%;
    z-index: 1;
    height: 90%;
    overflow: hidden;
    top: 0;
    left: 0;
}

header .container {
    padding-top: 250px;
}

header .hero-text-lg .name {
    display: block;
    font-family: @primary-font;
    //font-size: 8em;
    font-size:8vw;
    text-shadow: 2px 2px #111111;
}

header .hero-text-sm .name {
    display: block;
    font-family: @primary-font;
    font-size: 2vw;
}

.hero-text-arc {
    font-size: 2vw;
}

//TODO: Add logo here - hide when mobile
.navbar-inverse {
    background-color: @bg-color-7;
    border-color: @bg-color-7;
}


.navbar-inverse .navbar-brand {
    padding: 10px 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: @text-color-1-inverse;
    font-weight: bold;
    font-family: 'Avenir Next', Helvetica, sans-serif ;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: @text-color-1-hover;
    font-weight: bold;
}

// .navbar-inverse .navbar-nav > li > a:hover,
// .navbar-inverse .navbar-nav > li > a:focus {
//     color: #333;
// }
// .navbar-inverse .navbar-nav > .active > a,
// .navbar-inverse .navbar-nav > .active > a:hover,
// .navbar-inverse .navbar-nav > .active > a:focus {
//     color: #555;
//     background-color: #E7E7E7;
// }
// .navbar-inverse .navbar-nav > .open > a,
// .navbar-inverse .navbar-nav > .open > a:hover,
// .navbar-inverse .navbar-nav > .open > a:focus {
//     color: #555;
//     background-color: #D5D5D5;
// }





h2 {
  font-family: 'Avenir Next', Helvetica, sans-serif;
  font-size: 2em;
  // padding-top: 15px;
  margin-top: 15px;
}

hr.star-light {
    border-color: #fff;
}

section {
    padding: 300px 0;
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    font-family: @primary-font;
}

section.bg-primary {
    color: #fff;
    background-color: #023c65;
    // background-color: #b9763f;
}

//TODO: Reduce paralax code duplication

section.bg-parallax1 {
    background-image: url("@{bk-img1}");
    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

section.bg-parallax2 {
    background-image: url("@{bk-img2}");
    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

//TODO: Reduce background code duplication

// section.bg-dark {
//     background: #202034 linear-gradient(to bottom,#282841,#202031 100%);
//     background-image: linear-gradient(rgb(40, 40, 65), rgb(32, 32, 52) 100%);
//     background-position-x: initial;
//     background-position-y: initial;
//     background-size: initial;
//     background-repeat-x: initial;
//     background-repeat-y: initial;
//     background-attachment: initial;
//     background-origin: initial;
//     background-clip: initial;
//     background-color: rgb(32, 32, 52);
//     color: white;
// }

section.bg-light {
    // background: #202034 linear-gradient(to bottom,#282841,#202031 100%);
    background: @bg-color-2 linear-gradient(to bottom,#fbf9f5,#fff 100%);
    //background-image: linear-gradient(rgb(1, 49, 84), rgb(4, 58, 96) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    // background-attachment: initial;
    // background-origin: initial;
    // background-clip: initial;
    //TODO: check RGB
    background-color: rgb(2, 60, 101);
    color: #111111;
}

section.bg-mid-light {
    // background: #202034 linear-gradient(to bottom,#282841,#202031 100%);
    background: @bg-color-3 linear-gradient(to bottom,#a1a1a1,#a1a1b1 100%);
    //background-image: linear-gradient(rgb(1, 49, 84), rgb(4, 58, 96) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    // background-attachment: initial;
    // background-origin: initial;
    // background-clip: initial;
    //TODO: check RGB
    background-color: rgb(2, 60, 101);
    color: #111111;
}

section.bg-mid-dark {
    // background: #202034 linear-gradient(to bottom,#282841,#202031 100%);
    background: @bg-color-3 linear-gradient(to bottom,#464646,#464653 100%);
    //background-image: linear-gradient(rgb(1, 49, 84), rgb(4, 58, 96) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    // background-attachment: initial;
    // background-origin: initial;
    // background-clip: initial;
    //TODO: check RGB
    background-color: rgb(2, 60, 101);
    color: #fff;
}

footer {
  color: #111111;
  background-color: @bg-color-7;
}

.text-accented {
  line-height: 0.5;
  text-align: center;
  position: relative;
}

.text-accented:before, .text-accented:after {
  background-color: #fff;
  // border-radius: 3px;
  content: " ";
  position: absolute;
  height: .25vw;
  top: 0;
  width: 40%;
}

.text-accented:before {
  right: 60%;
  margin-right: 15px;
  margin-top: 5px;
}

.text-accented:after {
  left: 60%;
  margin-left: 15px;
  margin-top: 5px;
}

.content-wrapper{
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;
}

.footer-distributed{
      z-index: 1;
	background-color: @bg-color-7;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color: @bg-color-7;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

#header-index {
    background-image: url("/images/header-index.png");
}

#header-about {
    background-image: url("/images/header-about.jpg");
}

#header-recommend {
    background-image: url("/images/header-recommend.jpg");
}


// @media (max-width: 600px) {
//
// 	.footer-distributed .footer-left,
// 	.footer-distributed .footer-right{
// 		text-align: center;
// 	}
//
// 	.footer-distributed .footer-right{
// 		float: none;
// 		margin: 0 auto 20px;
// 	}
//
// 	.footer-distributed .footer-left p.footer-links{
// 		line-height: 1.8;
// 	}
// }
